<h1>Update User Profile</h1>

<form [formGroup]="profileForm" (ngSubmit)="updateProfile(profileForm)">
    <label for="first_name">First Name:</label>
    <input type="text" id="first_name" autocomplete="off" formControlName="first_name">

    <label for="last_name">Last Name:</label>
    <input type="text" id="last_name" autocomplete="off" formControlName="last_name">
  
    <label for="email">Email:</label>
    <input type="text" id="email" autocomplete="off" formControlName="email">
  
    <label for="avatar">Avatar:</label>
    <input type="text" id="avatar" autocomplete="off" formControlName="avatar">
  
    <button type="submit">{{ tipe === 'update' ? 'Update' : 'Add' }} Profile</button>
</form>