<div class="grid nested-grid" style="width: 97vw;">
    <div class="col-2 p-0 z-10">
        <div class="bg-white h-screen font-bold pt-3">
            <h2 style="padding-left: 20px;">MENU</h2>
            <div style="padding-left: 20px; padding-top: 30px; cursor: pointer;">
                <p-menu [model]="menuItems"></p-menu>
            </div>
        </div>
    </div>
    <div class="col-10 p-0">
        <div class="grid">
            <div class="navbar col-12 p-0 pt-2">
                <div class="sticky top-0 text-center pl-3 pr-3 pt-4 pb-4 bg-blue-50 font-bold">
                    <div class="flex justify-content-between z-5">
                        <p>DIA-B4</p>
                        <ul class="flex list-none cursor-pointer gap-4">
                            <li>Home</li>
                            <li>Product</li>
                            <li>About</li>
                            <li>Help</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 ml-2 mt-2 h-screen bg-gray-100">
                <div class="border-round-sm h-auto font-bold">
                    <p-card header="Title">
                        <p class="m-1">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum harum alias, non laudantium maxime earum vitae tempora in rerum voluptatibus quas distinctio? Aliquid, iure! Alias, fugiat animi, exercitationem commodi ipsum culpa in tempore maxime at fuga distinctio veritatis autem corrupti? Natus quae eius sunt molestiae magni maxime amet. Ipsum dolores accusantium reprehenderit totam. Dolorum ad maiores neque possimus quasi iure magnam architecto aperiam necessitatibus omnis illo quos consequatur velit maxime tenetur rerum reprehenderit, labore eos perferendis facere nemo culpa! Eligendi temporibus iusto, rem officia nobis architecto minus, dolor eos explicabo a velit, illum doloremque. Magni ratione maiores commodi perspiciatis ipsa!
                        </p>
                    </p-card> <br>
                    <p-button label="Submit"></p-button>
                </div>
            </div>
            <div class="col-12 p-0 pt-2">
                <div class="footer sticky top-0 text-center pl-3 pr-3 pt-4 pb-4 bg-blue-50 font-bold">
                    <p>&copy; 2023 Jose Tobing. Hak Cipta Dilindungi.</p>
                </div>
            </div>
        </div>
    </div>
</div>
